html{
 height:100%;
}
body{
 background-color:aqua;
 background-image: url("https://static.cnews.fr/sites/default/files/violences_conjuguales_5e96efe7a6b00.jpg");
 height:100%;
 margin:0;
 padding:0;
}
#container{
 width:1024px;
 min-height:100%;
 background-color:#fff;
 margin:auto;
}
