body{
 background-image:url(https://emotionsnumeriques.files.wordpress.com/2017/04/srjc9512.jpg?w=640);
 background-position:left;
 background-size:300px 300px;
 background-repeat:space;
 
 margin: auto;
 width : 1000px;

 
}
